@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@import "bourbon/bourbon";
@import "neat/neat";
@import "bitters/bitters";

$mobile: new-breakpoint(max-width 480px);
$tablet: new-breakpoint(max-width 950px);

header {
  width: 100%;
  height: auto;
  padding-top: 5em;
  background: darken(navajowhite, 10%);
  .img {
    width: 20em;
    height: 20em;
    background: url("http://i.imgur.com/NWDoc2g.jpg");
    background-size: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 7px solid white;
  }
  div {
  }
  h1 {
    font-size: 5em;
    padding-top: 4%;
    padding-left: 25%;
    color: steelblue;
    @include media($mobile) {
      text-align: center;
      padding-left: 0;
    }
    @include media($tablet) {
      text-align: center;
      padding-left: 0;
    }
    span {
      margin-left: -25px;
      color: darken(steelblue, 20%);
      @include media($mobile) {
        margin-left: 0;
        text-align: center;
      }
    }
  }
  p {
    font-size: 2em;
    padding-left: 45%;
    margin-top: -.5em;
    @include media($mobile) {
      margin-top: 1em;
      text-align: center;
      padding-left: 0;
    }
    @include media($tablet) {
      margin-top: .5em;
      text-align: center;
      padding-left: 0;
    }
  }
  ul {
    font-size: 3em;
    text-align: center;
  }
  li {
    display: inline-block;
    padding-right: .5em;
    padding-left: .5em;
    padding-bottom: 2em;
    @include media($mobile) {
      text-align: center;
      padding-right: .2em;
      padding-left: .2em;
      padding-top: .5em;
    }
  }
  a {
    color: slategray;
    &:hover {
      color: darken(steelblue, 25%);
      transition: 1s;
    }
  }
}
