doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Macy Avile's Portfolio
    meta(name='description', content='Macy Aviles is a designer with experience in UX/UI. Design with code. Design in the browser.')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="http://i.icomoon.io/public/temp/5e9d112fd9/UntitledProject1/style.css")
  body
    header
      div.img
      div.text
        h1 Macy 
          span Aviles
        p UX/UI Designer & Developer
      ul.icons
        a(href="https://github.com/maaviles")
          li(class="icon-github")
        a(href="https://linkedin.com/pub/macy-aviles/86/909/26b/")  
          li(class="icon-linkedin")
        a(href="https://twitter.com/macyaviles")
          li(class="icon-twitter")
        a(href="mailto:mce.aviles@gmail.com")  
          li(class="icon-mail")
